@*@model IEnumerable<PTBIG.Models.AnakKelas11>

@{
    ViewData["Title"] = "List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Umur)
            </th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Umur)
            </td>
            <td>
                <a asp-action="Data" asp-route-id="@item.ID">Data</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@